@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	color: rgb(var(--foreground-rgb));
	background: white;
	color: black;
	font-family: 'Roboto', sans-serif;
<<<<<<< HEAD
=======

>>>>>>> d2cd25b3d2548227dafea4657a749ecbe17f5e7b
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

.container {
	margin: 10px auto;
<<<<<<< HEAD
	max-width: 1450px;
=======
	max-width: 1400px;
>>>>>>> d2cd25b3d2548227dafea4657a749ecbe17f5e7b
	height: 100vh;
}

svg {
	width: 20px;
}

a {
<<<<<<< HEAD
	color: rgb(255, 255, 255);
	position: relative;
	text-decoration: none;
	text-transform: none;
	font-weight: 300;
	font-size: 18px;
	padding-bottom: 8px;
}

a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -7px; /* Adjust as needed */
	width: 0;
	height: 1px; /* Adjust as needed */
	background-color: rgb(255, 234, 0);
	transition: width 0.7s ease;
}

a:hover::after {
	width: 100%;
	background-color: rgb(255, 234, 0);
}

img {
	padding-bottom: 10px;
	margin-right: 5px;
=======
	color: rgb(255, 243, 178);
	transition: 1s ease;
}

a:hover {
	font-size: 15px;
	transition: 1s ease;
>>>>>>> d2cd25b3d2548227dafea4657a749ecbe17f5e7b
}
