@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	color: rgb(var(--foreground-rgb));
	background: white;
	color: black;
	font-family: 'Roboto', sans-serif;
}

<<<<<<< HEAD
@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
=======
@keyframes underline {
	0%,
	100% {
		width: 0;
	}
	50% {
		width: 100%;
	}
}

a {
	color: rgba(255, 255, 255, 0.381);
	position: relative;
	text-decoration: none;
	text-transform: none;
	font-weight: 300;
	font-size: 18px;
	padding-bottom: 8px;
	transition: color 0.7s ease; /* Smooth color transition */
}

a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -7px; /* Adjust as needed */
	height: 1px; /* Adjust as needed */
	background-color: rgb(255, 251, 0); /* Underline color */
	width: 0; /* Start with width of 0 */
	transition: width 0.7s ease; /* Smooth underline transition */
}

a.underline::after {
	animation: underline 1s infinite;
}

a.underline {
	color: rgb(255, 255, 255); /* Change text color when animated */
>>>>>>> 8cfd28a (addLinkDynamic)
}

.container {
	margin: 10px auto;
	max-width: 1400px;
	height: 100vh;
}

svg {
	width: 20px;
}

<<<<<<< HEAD
a {
	color: rgb(255, 255, 255);
	position: relative;
	text-decoration: none;
	text-transform: none;
	font-weight: 300;
	font-size: 18px;
	padding-bottom: 8px;
}

a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: -7px; /* Adjust as needed */
	width: 0;
	height: 1px; /* Adjust as needed */
	background-color: rgb(255, 234, 0);
	transition: width 0.7s ease;
}

a:hover::after {
	width: 100%;
	background-color: rgb(255, 234, 0);
}

=======
>>>>>>> 8cfd28a (addLinkDynamic)
img {
	padding-bottom: 10px;
	margin-right: 5px;
}
