@keyframes slideDown {
	from {
		transform: translateY(-100px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.imageLogo {
	animation: slideDown 1.5s ease-out;
	text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
<<<<<<< HEAD
	margin-bottom: 0px;
=======
	margin-bottom: 10px;
>>>>>>> d2cd25b3d2548227dafea4657a749ecbe17f5e7b
	max-width: 100%;
	height: auto;
}

.divider {
	width: 600px;
	height: 2px;
	background-color: gold;
	margin: 0 auto;
<<<<<<< HEAD
	margin-top: 70px;
=======
	margin-top: 100px;
>>>>>>> d2cd25b3d2548227dafea4657a749ecbe17f5e7b
	margin-bottom: 80px;
}

.textContent {
	animation: fadeIn 2s ease-in;
	margin: 20px;
<<<<<<< HEAD
	font-weight: 300;
	font-size: 20px;
}

.goldmenColor {
	color: gold;
	font-weight: 500;
	font-size: 20px;
}

.headerContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.instaText a {
	text-decoration: none;
=======
}

.headerContent{
	display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
>>>>>>> d2cd25b3d2548227dafea4657a749ecbe17f5e7b
}

/* Адаптивность */
@media (max-width: 768px) {
	.divider {
		width: 100%;
	}

	.divider {
<<<<<<< HEAD
		display: none;
	}

	.textContent {
		font-size: 1rem;
		font-weight: 300;
=======
		display:none;
	}

	.textContent {
		 font-size: 1rem;
        font-weight: 300;
>>>>>>> d2cd25b3d2548227dafea4657a749ecbe17f5e7b
	}
}

.hiddenHeading {
	position: absolute;
	left: -9999px;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
